.navbar {
    background: #99D800;
}

.quem-somos{
    background-color: aqua;
    color: white;
}
.margin{
    padding-top: 10px;
    padding-bottom: 30px:
}

.parceiros {
    background-color: aquamarine;
}

.footer {
    background-color: black;
    color: white;
}

